.background{
    background-image: url(tripp.jpg);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: local;
    z-index: -1;
    filter: blur(5px);
}